<!-- Footer START -->
<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 footer-bg">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Україна, м. Київ, вул. Амосова 4</p>
                    <p>+380966141551, +380508591374</p>
                    <p>studhero@gmail.com</p>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Copyright &copy; StudHero <span data-bind="text: currentYear()"></span></h5>
            </div>
        </div>        
    </div> 
</div>
<!-- Footer END -->   
<script src="assets/js/scripts.js" type="text/javascript"></script>
</body>
</html>