<div class="container-fluid white-bg" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2" id="info-students">
                    <p><b>Ще раз, вітаємо!</b></p><br/>
                    <p>Тож, хто ми і що робимо?</p>
                    <br/>
                    <p class="bordered">
                        
                        <b>StudHero</b> &mdash; платформа, з однією великою місією: знайти найкращих роботодавців для кожного студента.
                    </p>
                    <br/>
                    <p>Отож, ми приводимо <b>студентів</b>, які хочуть вчитися, до <b>роботодавців</b>, які готові навчати. <b>Випускники та студенти</b> отримують потрібні навички та досвід, а <b>роботодавці</b> - вмотиваних і лояльних людей.</p>
                    <p>Тому цей <b>сервіс</b> &mdash; для вас, для людей з палаючими очима і бажанням розвиватися, набувати і постійно рухатися. Для людей без досвіду, розуміння ринку і потрібних зв’язків.</p>

                    <p>Ми відповідаємо за <b>якість</b> стажувань, тож просимо кожного студента давати широкий фідбек після проходження. Це ваш вклад часу у платформу.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Events START -->
<div class="container-fluid green-bg" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Як стати героєм?</h2>
                <div class="col-md-3 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-10 col-sm-10 col-xs-12 center-block">
                        <div class="iconing">
                            <span class="tolder-font">1</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Реєстрація на сайті</h4>
                        <p>Ми дізнаємося трохи про вас, а ви отримуєте власний профіль</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-10 col-sm-10 col-xs-12 center-block">
                        <div class="iconing">
                            <span class="tolder-font">2</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Перегляд подій та вакансій</h4>
                        <p>Обираєте щось цікаве, що вам до смаку у будь-якій категорії</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-10 col-sm-10 col-xs-12 center-block">
                        <div class="iconing">
                            <span class="tolder-font">3</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Заявка на участь</h4>
                        <p>Ви подаєтеся на цю подію, курс чи стажування, за потреби проходите тест і чекаєте погодження на пошту чи на сторінку профілю.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-10 col-sm-10 col-xs-12  center-block">
                        <div class="iconing">
                            <span class="tolder-font">4</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Рефлексія після проходження</h4>
                        <p>Даєте нам декілька коротких відповідей і оцінок, як це було</p>
                    </div>
                </div>
            </div>
           <button type="submit" class="btn btn-block btn-main-dark center-block" data-bind="click: Nav().showEvents">Знайти подію</button>
        </div>
    </div>
</div>
<!-- Events END -->

<div class="container-fluid white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 events-list">
                <div class="col-md-4 col-sm-6 col-xs-12 event-block">
                    <a data-bind="click: Nav().showEvent" data-lightbox="image-1">
                        <div class="name">Назва компанії: Назва події</div>
                        <div class="featured-img">  
                            <div>
                                <p>Короткий опис події в одне речення</p>
                                <p>Початок: 01.01.2015</p>
                                <p>Кінець: 01.02.2015</p>
                            </div>
                            <img src="assets/images/event-icon.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-block">
                    <a data-bind="click: Nav().showEvent" data-lightbox="image-1">
                        <div class="name">Назва компанії: Назва події</div>
                        <div class="featured-img">  
                            <div>
                                <p>Короткий опис події в одне речення</p>
                                <p>Початок: 01.01.2015</p>
                                <p>Кінець: 01.02.2015</p>
                            </div>
                            <img src="assets/images/event-icon.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-block">
                    <a data-bind="click: Nav().showEvent" data-lightbox="image-1">
                        <div class="name">Назва компанії: Назва події</div>
                        <div class="featured-img">  
                            <div>
                                <p>Короткий опис події в одне речення</p>
                                <p>Початок: 01.01.2015</p>
                                <p>Кінець: 01.02.2015</p>
                            </div>
                            <img src="assets/images/event-icon.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-block">
                    <a data-bind="click: Nav().showEvent" data-lightbox="image-1">
                        <div class="name">Назва компанії: Назва події</div>
                        <div class="featured-img">  
                            <div>
                                <p>Короткий опис події в одне речення</p>
                                <p>Початок: 01.01.2015</p>
                                <p>Кінець: 01.02.2015</p>
                            </div>
                            <img src="assets/images/event-icon.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-block">
                    <a data-bind="click: Nav().showEvent" data-lightbox="image-1">
                        <div class="name">Назва компанії: Назва події</div>
                        <div class="featured-img">  
                            <div>
                                <p>Короткий опис події в одне речення</p>
                                <p>Початок: 01.01.2015</p>
                                <p>Кінець: 01.02.2015</p>
                            </div>
                            <img src="assets/images/event-icon.jpg"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 event-block add-event-block" data-bind="click: Nav().showEvents">
                    <div class="name">Всі події</div>
                    <div class="featured-img">
                        <span class="glyphicon glyphicon-th"></span>                        
                    </div>                  
                </div>
            </div>  
        </div>
    </div>
</div>


