
<!-- Banner START -->
<div class="container-fluid main index">
    <div class="row">
        <div class="col-md-6 main-background">                 
            <div class="col-md-6 col-md-offset-3 inner">
                <div class="text-box">
                    <span><b>Вітаємо!</b></span><br/>
                    <span>Ми будуємо міст комунікації між студентами
                            та компаніями. Це можливість знайти "своїх" людей 
                            для компанії, та "свою" компанію для студента. 
                            <br/>Оберіть, з якого боку мосту ви будете йти:</span>
                    <div class="col-md-8 col-md-offset-2">
                    <a class="link-button" href="for-companies.php">Я - компанія/організація</a>
                    <h2 class="tolder-font">StudHero</h2>
                    <a class="link-button" href="for-students.php">Я - студент/випускник</a>
                    </div>
                </div>
            </div>        
        </div>           
    </div>
</div>   
<!-- Banner END -->

