<div class="container-fluid white-bg" id="event-page">
    <form id="moder-event-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 container-first">
                <div class="col-md-12 container-first-event">
                    <div class="col-md-6 image-block">
                        <!-- ko ifnot: currentEvent().image -->
                        <img src="assets/images/event-icon.jpg"/>
                        <!-- /ko -->
                        <!-- ko if: currentEvent().image -->
                        <img src="" data-bind="attr: {src: 'http://89.184.67.220:8080/images/events/' + currentEvent().image}"/>
                        <!-- /ko -->
                    </div>
                    <div class="col-md-6">
                        <table>
                            <tbody>
                            <tr>
                                <td><b>Назва події:</b></td>
                                <td><input type="text" name="title" data-bind="value: currentEvent().title"></td>
                            </tr>
                            <tr>
                                <td><b>Компанія:</b></td>
                                <td data-bind="text: currentEvent().company"></td>
                            </tr>
                            <tr>
                                <td><b>Початок:</b></td>
                                <td><input type="text" name="startDate" data-bind="value: currentEvent().startDate"></td>
                                <td><input type="text" name="startTime" data-bind="value: currentEvent().startTime"></td>
                            </tr>
                            <tr>
                                <td><b>Кінець:</b></td>
                                <td><input type="text" name="endDate" data-bind="value: currentEvent().endDate"></td>
                                <td><input type="text" name="endTime" data-bind="value: currentEvent().endTime"></td>
                            </tr>
                            <tr>
                                <td><b>Короткий опис:</b></td>
                                <td><input type="text" name="descriptionShort" data-bind="value: currentEvent().descriptionShort"></td>
                            </tr>
                            <tr>
                                <td><b>Відповідальна особа:</b></td>
                                <td><input type="text" name="manager" data-bind="value: currentEvent().manager"></td>
                            </tr>
                            <tr>
                                <td><b>Опис:</b></td>
                                <td><textarea name="description" data-bind="value: currentEvent().description"></textarea></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
            <br/>
            <button class="btn btn-block btn-main-green center-block" data-bind="click: approveEvent">Підтвердити</button>
            <button class="btn btn-block btn-main-green center-block" data-bind="click: declineEvent">Забанити</button>
        </div>
        </form>

    </div>
</div>


<div class="modal fade" id="approve-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Підтвердження події</h4>
            </div>
            <div class="modal-body">
                <p>Подію підтверджено</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-main-green center-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="decline-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Відхилення події</h4>
            </div>
            <div class="modal-body">
                <p>Подію відхилено</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-main-green center-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
