<div class="container-fluid white-bg" id="event-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 container-first">
                <h2 class="text-center">Ваш профіль</h2>
                <div class="col-md-12 container-first-event">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="bs-example">
                            <table class="table table-condensed" data-bind="visible: User().getUser() == 'student'">
                                <tbody>
                                    <tr>
                                        <td>Ім'я</td>
                                        <td data-bind="text: User().userInfo().name"></td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td data-bind="text: User().userInfo().phone"></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td data-bind="text: User().userInfo().email"></td>
                                    </tr>
                                    <tr>
                                        <td>Місто</td>
                                        <td data-bind="text: User().userInfo().city"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-condensed" data-bind="visible: User().getUser() == 'company'">
                                <tbody>
                                    <tr>
                                        <td>Ім'я компанії</td>
                                        <td data-bind="text: User().userInfo().name"></td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td data-bind="text: User().userInfo().phone"></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td data-bind="text: User().userInfo().email"></td>
                                    </tr>
                                    <tr>
                                        <td>Місто</td>
                                        <td data-bind="text: User().userInfo().city"></td>
                                    </tr>
                                    <tr>
                                        <td>Сфера діяльності</td>
                                        <td data-bind="text: User().userInfo().activity"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button data-bind="" class="btn btn-block btn-main-green center-block">Зберегти</button>



                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 container-first events-list">
                        <h2 class="text-center">Мої події</h2>

                        <div class="col-md-4 col-sm-6 col-xs-12 event-block add-event-block" data-bind="click: showCreateEvent, visible: User().getUser() == 'company'">
                            <div class="name">Створити подію</div>
                            <div class="featured-img">
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                        </div>
                        <!-- ko foreach: User().userInfo().events -->
                        <div class="col-md-4 col-sm-6 col-xs-12 event-block">
                            <a data-bind="click: $root.Nav().showEvent">
                                <span data-bind="text: $data.objectId" hidden></span>
                                <div class="name"><span data-bind="text: $data.company"></span>: <span data-bind="text: $data.title"></span></div>
                                <div class="featured-img">
                                    <div>
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td data-bind="text: $data.descriptionShort"></td>
                                            </tr>
                                            <tr>
                                                <td data-bind="visible: $data.startDate">Початок: </td>
                                                <td data-bind="text: $data.startDate"></td>
                                                <td data-bind="text: $data.startTime"></td>
                                            </tr>
                                            <tr>
                                                <td data-bind="visible: $data.endDate">Кінець:</td>
                                                <td data-bind="text: $data.endDate"></td>
                                                <td data-bind="text: $data.endTime"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- ko ifnot: $data.image -->
                                    <img src="assets/images/event-icon.jpg"/>
                                    <!-- /ko -->
                                    <!-- ko if: $data.image -->
                                    <img src="" data-bind="attr: {src: 'http://89.184.67.220:8080/images/events/' + $data.image}"/>
                                    <!-- /ko -->
                                </div>
                            </a>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
