<div class="container-fluid white-bg" id="events">
    <div class="container">
        <div class="row">            
            <div class="col-md-12 col-sm-12 col-xs-12 container-first events-list">
                <br/>
                <div class="input-group col-md-6 center-block" id="main-search">
                    <input type="text" class="form-control" placeholder="Що ви шукаєте?">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Пошук</button>
                    </span>
                </div>
                <h5 class="text-center">За вашим запитом нічого не знайдено</h5>                
            </div>            
        </div>
    </div>
</div>
